<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" type="text/css" href="">
    <script type="text/javascript"></script>
    <title>Guia Perguntas</title>
    <meta charset="utf-8">
</head>

<body>

    <div>
        <h1>Guia de Perguntas</h1>
    </div>
    <p>Nome:
        <%= nome %>
    </p>
    <p>Linguagem Favorita:
        <%= lang %>
    </p>
    <p>Empresa:
        <%= empresa %>
    </p>
    <p>Inscritos:
        <%= inscritos %>
    </p>

    <% if (msg) {%>
        <h3>Isso é uma mensagem de erro!!</h3>
        <% } else { %>
            <h3>Nenhum erro!</h3>
            <% } %>




</body>


</html>